body    {
    color: black ;
    font-family: 'Pacifico', cursive;
    background-image: url(bg1.jpg);
    background-size: auto;
    background-color: moccasin;
    background-position: center;
    font-size: 20px;

}
.naglowki {
    font-family: 'Pacifico', cursive;
    font-size:50px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.rozdzialy {
    ont-family: 'Pacifico', cursive;
    font-size: 30px;
    color: red;
    font-style: oblique;
}